<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.cantrell.kal.max_flutter_chat_ap">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
